

body {
 background-color: white;
 padding: 25px 150px 150px 150px;
 font-family: 'Montserrat', sans-serif;

}

h1 {
  text-align: center;
  font-weight: lighter;
}



div {
  text-align: center;
}

ul {
  display: inline-block;
  list-style-type: none;
}

li {
  float: left;
}

a {
  padding: 10px 60px;
}

a:hover {
  text-decoration: none;
  color: #black;
}

a:active {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: #808080;
}

a:visited {
  color: #808080;
}

/*about page*/

form {
  align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;

.jude {
  padding-top: 16px;
  max-width: 10%;
  height: auto;
}



.frontpage {
  padding-top: 16px;
  width: 100%;
  height: auto;
  -webkit transform: scaleX(-1);
  transform: scaleX(-1);
}
