

body {
 background-color: white;
 padding: 25px 150px 150px 150px;
 font-family: 'Montserrat', sans-serif;
 color: #111;
}

h1 {
  text-align: center;
  font-weight: lighter;
}



div {
  text-align: center;
}

.nav {
  grid: display;
  grid-template-columns: repeat(5, 20%);
  list-style-type: none;
}

li {
  float: left;
}

a {
  padding: 10px 60px;
}

a:hover {
  text-decoration: none;
  color: #black;
}

a:active {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: #808080;
}

a:visited {
  color: #808080;
}

/*about page*/

form {
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #808080;
  text-align: center;
  border-top: 1px #808080;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-content: center;
  padding-top: 16px;
}

.photoalbum {
  max-width: 85%;
  height: auto;
}

h2 {
  text-align: center;
}

.review {
text-align: center;
}

.block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bio {
  text-align: center;
  text-align: justify;
  max-width: 50%;
}

.jude {
display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  max-width: 25%;
  height: auto
}

#bio {
  text-align: center;
  color: #111;
}

.contact {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.frontpage {
  padding-top: 16px;
  width: 100%;
  height: auto;
  -webkit transform: scaleX(-1);
  transform: scaleX(-1);
}
