

body {
  background-color: #1BAEFF;
}

h2 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  float: left;
}
a {
  display: block;
  padding: 8px;
  background-color: #246FE8;
}
.active {
  background-color: #28FFD7;
}

nav a:link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
nav a:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

section {
  display: flex;
}
aside {
  flex: 1
}
article {
  flex: 9
}
